<% if params[:request_type] == 'all' || params[:search] %> <!-- If request is View All -->

<header class="stream-header">

  <div class="darkness"></div>
  <div class="gradient"></div>

  <div class="background-banner">
      <img src="http://cdn10.lbstatic.nu/files/looks/medium/2014/10/26/4106593_camden.jpg?1414346578">
      <img src="http://cdn9.lbstatic.nu/files/looks/medium/2014/10/26/4106732_nill-in865.jpg?1414350031">
      <img src="http://cdn9.lbstatic.nu/files/looks/medium/2014/10/26/4106396_338_o_furry_knit.jpg?1414341867">
      <img src="http://cdn11.lbstatic.nu/files/looks/medium/2014/10/26/4106602__MG_7451.jpg?1414346726">
      <img src="http://cdn9.lbstatic.nu/files/looks/medium/2014/10/26/4106388_My_Photo-3.jpg?1414341609">
  </div>

  <div class="container-banner">
    <div class="title">Looks on Where.it</div>
  </div>

</header>

  <% if @posts.present? %> <!-- If posts are present -->

    <% @posts.each do |post| %> <!-- Show each searched post -->
      <div class="post-contain">
        <div class="post-header">
          <span><%= link_to "#{post.title}", post_path(post) %></span>
        </div>

        <%= link_to image_tag(post.photo_url, class: "post-photo"), post_path(post) %>

        <div class="read-more">
          <%= link_to "View Look", post_path(post) %>
        </div>
      </div>
    <% end %> <!-- End post loop -->

  <% else %> <!-- Else show search could not be matched -->

    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>

  <% end %> <!-- End search loop -->


<% elsif params[:request_type] == 'favorites' %> <!-- If request is View Favorites -->

  <% @favorites.each do |post| %> <!-- Show each favorite post -->
    <div class="post-contain">
      <div class="post-header">
        <span><%= link_to "#{post.title}", post_path(post) %></span>
      </div>

      <%= link_to image_tag(post.photo_url, class: "post-photo"), post_path(post) %>

      <div class="read-more">
        <%= link_to "View Look", post_path(post) %>
      </div>
    </div>
  <% end %> <!-- End post loop -->

<% else %> <!-- If request came from somewhere else -->

  <% redirect_to root_path %>

<% end %> <!-- End params loop -->
