<div class="post-main">
  <%= image_tag @post.photo_url, class: "post-photo" %>
</div>

<div class="post-side">

  <h3><%= @post.title %> <%= link_to image_tag("pencil.png", class: "icon-edit"), edit_post_path %>
  <%= display_star(@post) %>
  </h3>

  <p><%= link_to "BUY NOW", @post.retailer, class: "button-link", :target => "_blank" %></p>

  <div class="post-content">
    <p><span>Brand:</span> <%= @post.brand_name %></p>
    <p><span>Size:</span> <%= @post.size %> | <span>Price:</span> <%= @post.price %></p>
    <p><span>Details:</span> <%= @post.description %></p>
  </div>

  <h3>Comments</h3>

  <% @comments.each do |comment| %>
    <div class = "comment">
    <h5><%= link_to "\"#{comment.subject}\"", post_comment_path(@post, comment) %></h5>
    <!-- re: my other statement about not saving user_email on the comment, use
        comment.user.email, which is set through the user association on a
        comment -->
    <p>Added: <%= comment.created_at.strftime("%b %d %y") %> by: <%= comment.user_email %></p>
    <p><%= comment.comment %></p>
    </div>
  <% end %>

  <h3>Leave a comment:</h3>
    <!-- nice use of partials! -->
  <%= render partial: "comments/form" %>
</div>
