<div class="post-main">
  <%= image_tag @post.photo_url, class: "post-photo" %>
</div>

<div class="post-side">

  <h3><%= @post.title %> <%= link_to image_tag("pencil.png", class: "icon-edit"), edit_post_path %>
  <% if @is_favorite %>
    <%= link_to image_tag("unfavorite.png", class: "icon-edit"), favorite_post_path(@post, type: "unfavorite"), method: :put %>
  <% else %>
    <%= link_to image_tag("favorite.png", class: "icon-edit"), favorite_post_path(@post, type: "favorite"), method: :put %>
  <% end %>
  </h3>

  <p><%= link_to "BUY NOW", @post.retailer, class: "button-link", :target => "_blank" %></p>

  <div class="post-content">
    <p><span>Brand:</span> <%= @post.brand_name %></p>
    <p><span>Size:</span> <%= @post.size %> | Price: <%= @post.price %></p>
    <p><span>Details:</span> <%= @post.description %></p>
  </div>

  <h3>Comments</h3>

  <% @comments.each do |comment| %>
    <div class = "comment">
    <h5><%= link_to "\"#{comment.subject}\"", post_comment_path(@post, comment) %></h5>
    <p>Added: <%= comment.created_at.strftime("%b %d %y") %> by: <%= comment.user_email %></p>
    <p><%= comment.comment %></p>
    </div>
  <% end %>

  <h3>Leave a comment:</h3>
  <%= render partial: "comments/form" %>
</div>
